{% extends "account/base.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block accounts_content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  {% trans "Sign Out" as button_text %}
  {% bootstrap_button button_text button_type="submit" extra_classes="secondaryAction w-100" %}
</form>


{% endblock %}
