{% extends "account/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block accounts_content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% trans "Change Password" as button_text %}
        {% bootstrap_button button_text button_type="submit" extra_classes="w-100" name="action" %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
